//TYPOGRAPHY

body{
	color: get-color(default);
	line-height: 1.875rem;
}//end body

//HEADINGS

h1, h2, h3, h4, h5, h6{
	color: get-color(default);
}

h2{
	font-weight: $font-weight-medium;
	line-height: 2.25rem;
	margin-bottom: $spacing--xs;
}

p{
	line-height: $line-height-md;
	color: get-color(default);
	font-size: 1.125rem;
}//end p

