//ACCORDION
.accordion-container{
	background-color: get-color(accent1);
	padding: $spacing--sm 0;
	h2{
		@include inner;
	}
	.accordion{
		@include inner;
		background: none;
		border: none;
		.accordion-item{
			background-color: get-color(inverse);
			border-radius: $border-radius;
			overflow: hidden;
			box-shadow: 0 1px 3px 1px rgba(0,0,0,0.15);
			margin-bottom: $spacing--xs;

			&.is-active{
				box-shadow: 0 20px 30px 0 rgba(0,0,0,0.10), 0 0 8px 0 rgba(0,0,0,0.08);
				.accordion-title{
					background-color: get-color(inverse);
				}//end .accordion-title

				.accordion-content{
				}//end .accordion-content

			}//end .is-active

			.accordion-title{
				font-size: $fontsize--md;
				border:  none;
				font-weight: $font-weight-medium;
				color: get-color(default);
				padding-right: $spacing--xl;
				line-height: 1.2;
			}//end .is-active

			.accordion-content{
				padding-top: 0;
				border: none;
			}//end .accordion-content
		}//end .accordion-item
	}//end .accordion
}//end .accordion-container
