#nav{
	z-index: 1;
	position: relative;
	background-color: darken(get-color(primary),20%);
	box-shadow: 0 8px 24px rgba(darken(get-color(primary),20%),.3);
	padding: $spacing--xs $spacing--sm;

	&.secondary{
		background-color: get-color(secondary);
		box-shadow: 0 8px 24px rgba(get-color(secondary),.3);
	}//end secondary

	#mobilephone{
		a{
			text-align: center;
			color: get-color(inverse);
			background: get-color(primary);
			font-weight: $font-weight-medium;
			padding: $spacing--xs/2 0;

			&:first-of-type{
				border-right: 2px solid darken(get-color(primary),5%);
			}
		}
	}//end mobile phone
	.title-bar{
		@include inner;
		background: none;
		padding: 0;

		.site-logo{
			max-width: 200px;
			margin: 0 auto;
		}//end .site-logo
	}//end .title-bar
}//end nav