.button{
	border-radius: $border-radius;
	box-shadow: $box-shadow-1;
	width: 100%;
	font-weight: $font-weight-medium;
	font-size: $fontsize--xl;
	text-align: center;
	background-color: get-color(primary);
	padding: $spacing--xs;
	color: get-color(inverse);

	&.secondary{
		background-color: get-color(secondary);
		color: get-color(inverse);
		box-shadow: $box-shadow-2;
	}//end secondary

	h4{
		color: get-color(inverse);
		margin: 0;
		font-weight: $font-weight-medium;
	}//end h4
}//end button

.divider{
	width: 100%;
	height: 2px;
	background-color: get-color(default);
	margin: $spacing--sm auto;
	opacity: .2;
}//end divider

.button-cta{
	font-size: $fontsize--lg;
	font-weight: $font-weight-medium;
	text-align: center;
	border-top: 2px solid rgba(get-color(default),.2);
	padding-top: $spacing--xs;
}