//WYSIWYG

.module{
	&.wysiwyg{
		padding: $spacing--md 0;

		&#acknowledgement{
			padding: 0;

			.inner{
				padding-top: $spacing--md;
				padding-bottom: $spacing--md;
			}//end .inner
		}//end &#acknowledgement

		&.secondary .inner p span{
			color: get-color(secondary);
		}//end secondary
		.inner{
			@include inner;

			p{

				span{
					color: darken(get-color(primary), 10%);
					font-size: $fontsize--lg;
					font-weight: $font-weight-medium;
					display: block;
					margin-bottom: $spacing--xs;
				}
			}//end p

			a{
				margin-bottom: 0;
			}//end a

			h3{
				span{
					font-weight: $font-weight-medium;
				}//end span
			}//end h3

			.callout{
				margin-bottom: 0;
				background: none;
				border: none;

				p{
					font-size: $fontsize--xxl;
					line-height: 2.5rem;
					text-align: center;

					span{
						font-weight: $font-weight-bold;
						color: get-color(primary);
						font-size: $fontsize--xxl;
						display: inline;
					}//end span
				}//end p

				&.secondary p span{
					color: get-color(secondary);
				}//end secondary
			}//end callout
		}//end inner

		&#treatment{
			ul{
				list-style: none;
				font-size: $fontsize--md;
				padding: $spacing--xs 0;
				margin-bottom: 0;
				margin-left: $spacing--md;
				li{
					margin-bottom: $spacing--xs;
					position: relative;

					&:last-of-type{
						margin-bottom: 0;
					}//end last-of-type

					&:before{
						content: '';
						position: absolute;
						display: inline-block;
						background-image: url('../img/icon/checkmark-icon.svg');
						background-size: contain;
						background-repeat: no-repeat;
						width: 20px;
						height: 20px;
						top: $spacing--xs/2;
						left: -$spacing--md;
					}//end before
				}//end li
			}//end ul
		}//end treatment
	}//end wysiwyg
}//end module