.module.billboard{
	min-height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	max-width: 600px;
	margin: auto;

	&.cta{
		min-height: 567px;
		background-image: url(../img/functioning-addict-male-2.jpg);

		.inner{
			background-image: linear-gradient(195deg, rgba(get-color(primary),0) 40%, rgba(get-color(primary),.3) 40%, rgba(get-color(primary),.3) 100%);

			&.secondary{
				background-image: linear-gradient(195deg, rgba(get-color(secondary),0) 40%, rgba(get-color(secondary),.3) 40%, rgba(get-color(secondary),.3) 100%);
			}//end secondary
		}//end inner
	}//end cta
	.inner{
		display: flex;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 0 $spacing--sm;
		background-image: linear-gradient(195deg, rgba(get-color(primary),0) 30%, rgba(get-color(primary),.3) 30%, rgba(get-color(primary),.3) 100%);

		&.secondary{
			background-image: linear-gradient(195deg, rgba(get-color(secondary),0) 30%, rgba(get-color(secondary),.3) 30%, rgba(get-color(secondary),.3) 100%);
		}//end secondary
		.card-section{
			align-self: flex-end;
			padding: 0 0 $spacing--xs;
			text-align: center;

			h1{
				color: get-color(inverse);
				font-size: 2.5rem;
				line-height: 2.75rem;
				margin-bottom: $spacing--md;
				text-align: left;

				@include breakpoint(359px down) {
					font-size: 1.95rem;
				}//end 360px and down

				span{
					font-weight: $font-weight-bold;
				}//end span
			}//end h1

			p{
				color: get-color(inverse);
				margin-bottom: 0;
			}//end p

			.down-arrow{
				background-image: url(../img/icon/angle-down.svg);
				background-repeat: no-repeat;
				background-color: transparent;
				display: inline-block;
				width: 30px;
				height: 30px;
			}//end a
		}//end .card-section
	}//end inner
}//end billboard module