.module.gallery{
	.inner{
		@include inner;
		@include innerpadding ($p-small: 0);
		.locations__slider{
			position: relative;
			display: flex;
			height: 100%;

			.slick-list{
				width: 100%;
					.slick-track, .slick-track  div {
						height: 100%; 
						max-height: 575px;
						min-height: 455px;
						width: 100%;

						@include breakpoint (xlarge only) {
							max-height: 563px;
						}//end xlarge only breakpoint

						@include breakpoint (large only) {
							max-height: 519px;
						}//end large only breakpoint

						@include breakpoint (medium only) {
							max-height: 500px;
						}//end medium only breakpoint

						@include breakpoint (360px down) {
							min-height: 415px;
						}
					}//end .slick-track, .slick-track  div
					.slick-slide img {
						object-fit: cover;
						vertical-align: middle;
						max-width: 100%;
						-ms-interpolation-mode: bicubic;
						height: 100%;
					}////end img
			}//end slick-list

			.slick-arrow{
				position: absolute;
				height: 40px;
				width: 40px;
				background: none;
				z-index: 1;
				align-self: center;
				justify-content: center;
				top: calc(50% - 30px);
				background-repeat: no-repeat;
				background-size: contain;
				@include transition;

				&.slick-prev{
					left: $spacing--xs;
					background-image: url("../img/icon/angle-left.svg");
					background-position: left;
				}//end slick-prev

				&.slick-next{
					right: $spacing--xs;
					background-image: url("../img/icon/angle-right.svg");
					background-position: right;
				}//end slick-next
			}//end slick-arrow

			.slick-dots{
				position: absolute;
				display: block;
				bottom: $spacing--md;
				left: 0;
				right: 0;
				width: 100%;
				list-style: none;
				text-align: center;
				margin:  0;

				li{
					display: inline-block;
					width: 20px;
					height: 20px;
					margin: 0 $spacing--xs/3;
					padding: 0;
					cursor: pointer;
					position: relative;

					button{
						color: transparent;
						background-color: transparent;
					}//end button

					&:after{
						content: '';
						position: absolute;
						border: 2px solid get-color(inverse);
						background: transparent;
						box-shadow: $box-shadow-3;
						border-radius: 50%;
						top: 0;
						bottom:0;
						left: 0;
						right: 0;
						@include transition;
					}//end after

					&.slick-active:after{
						background: get-color(inverse);
						@include transition;
					}//end slick-active after
				}//end li
			}//end slick dots
		}//end locations__slider
	}//end inner
}//end module duo--gallery