.footer{
	background-color: get-color(default);
	padding: $spacing--xs 0;
	.inner{
		@include inner

		p{
			color: get-color(inverse);
			text-align: center;
			line-height: 1.5;
			margin-bottom: 0;
		}//end p
		

		a{
			color: get-color(inverse);
		}//end a
	}//end inner
}//end footer