    <div id="nav" class="{{#ifpage 'campaign-b'}}secondary{{/ifpage}}">            
        {{!Title-Bar}}
        <div class="title-bar">
            <a href="#" class="title-bar-left">
                <img src="{{site.logo.img}}" class="site-logo" alt="{{text}}" />
            </a>{{!--/.title-bar-left--}}
        </div>{{!--/.title-bar--}}
    </div>{{!--/#nav--}}
