{{!-- CAMPAIGN A --}}
{{#ifpage 'campaign-a'}}
<div id="hero" class="module billboard" style="background-image: url(assets/img/{{billboard.male.img}});">
  <div class="inner">
    <div class="cell card-section">
      <h1>{{{billboard.male.text}}}</h1>
      <a id="risk-assessment" class="typeform-share button" href="https://foundationsrecoverynetwork.typeform.com/to/TLgsCC" data-mode="drawer_right" data-ga-event data-ga-category="Assessment" data-ga-action="Quiz Clicks" data-ga-label="Quiz Clicks Billboard" target="_blank">Take Quiz</a>
      <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>       <p>Confidential & Private by Law</p>
      {{!-- <a class="down-arrow" href="#acknowledgement" data-smooth-scroll></a> --}}
    </div>{{!--/.cell.card-section--}}
</div>{{!--/.inner--}}
</div>{{!--/.module.billboard--}}
{{/ifpage}}
{{!--END CAMPAIGN A --}}

{{!-- CAMPAIGN B --}}
{{#ifpage 'campaign-b'}}
<div id="hero" class="module billboard" style="background-image: url(assets/img/{{billboard.female.img}});">
  <div class="inner secondary">
    <div class="cell card-section">
      <h1>{{{billboard.female.text}}}</h1>
      <a id="risk-assessment" class="typeform-share button secondary" href="https://foundationsrecoverynetwork.typeform.com/to/TLgsCC" data-mode="drawer_right" data-ga-event data-ga-category="Assessment" data-ga-action="Quiz Clicks" data-ga-label="Quiz Clicks Billboard" target="_blank">Take Quiz</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
      <p>Confidential & Private by Law</p>
    </div>{{!--/.cell.card-section--}}
</div>{{!--/.inner--}}
</div>{{!--/.module.billboard--}}
{{/ifpage}}
{{!--END CAMPAIGN B --}}