<div id="acknowledgement" class="module wysiwyg {{#ifpage 'campaign-b'}}secondary{{/ifpage}}">
	<div class="accordion-container"> 
	<h2>Maybe you're worried about...</h2>
		<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
		{{#each acknowledgement.accordion}}
		  <li class="accordion-item" data-accordion-item>
		    {{!-- ACCORDION TITLE--}}
		    <a href="#" class="accordion-title">{{title}}</a>

		    {{!-- ACCORDION CONTENT--}}
		    <div class="accordion-content" data-tab-content>
		      {{{text}}}
		    </div>
		  </li>
		  {{/each}}
		</ul>{{!--/.accordion--}}
	</div>{{!--/.accordion-container--}}

	<div class="inner">

		{{!-- CAMPAIGN A --}}
		{{#ifpage 'campaign-a'}}
		<h2>{{acknowledgement.male.heading}}</h2>
		<p>{{{acknowledgement.male.text}}}</p>
		{{/ifpage}}
		{{!--END CAMPAIGN A --}}

		{{!-- CAMPAIGN B --}}
		{{#ifpage 'campaign-b'}}
		<h2>{{acknowledgement.female.heading}}</h2>
		<p>{{{acknowledgement.female.text}}}</p>
		{{/ifpage}}
		{{!--END CAMPAIGN B --}}

		<h4 class="button-cta">
		{{!-- CAMPAIGN A --}}
		{{#ifpage 'campaign-a'}}
		{{site.button.male}}
		{{/ifpage}}
		{{!--END CAMPAIGN A --}}

		{{!-- CAMPAIGN B --}}
		{{#ifpage 'campaign-b'}}
		{{site.button.female}}
		{{/ifpage}}
		{{!--END CAMPAIGN B --}}
		</h4>
		
		<a class="button {{#ifpage 'campaign-b'}}secondary{{/ifpage}}" href="tel:{{site.phone}}" onClick="fbq('track', 'Lead', {
    content_name: 'FRN Facebook Ad Landing Page', 
    content_category: 'Landing Pages',
    content_type: 'Phone Clicks'
  });       " data-ga-event data-ga-category="Phone Numbers" data-ga-action="Phone Clicks" data-ga-label="Phone Clicks First">{{site.phone}}</a>
	</div>{{!--/.inner--}}
</div>{{!--/.module.wysiwyg--}}