<div id="treatment" class="module wysiwyg grey">
	<div class="inner">

		{{!-- CAMPAIGN A --}}
		{{#ifpage 'campaign-a'}}
		<div class="callout">
			<p>{{{treatment.male.callout}}}</p>
		</div>{{!--/.callout--}}
		<div class="divider"></div>{{!--/.divider--}}
		<h2>{{treatment.male.heading}}</h2>
		<p>{{treatment.male.text}}</p>
		{{/ifpage}}
		{{!--END CAMPAIGN A --}}

		{{!-- CAMPAIGN B --}}
		{{#ifpage 'campaign-b'}}
		<div class="callout secondary">
			<p>{{{treatment.female.callout}}}</p>
		</div>{{!--/.callout--}}
		<div class="divider"></div>{{!--/.divider--}}
		<h2>{{treatment.female.heading}}</h2>
		<p>{{treatment.female.text}}</p>
		{{/ifpage}}
		{{!--END CAMPAIGN B --}}

		<ul>
			{{#each treatment.list}}
			<li>{{text}}</li>
			{{/each}}
		</ul>
	</div>{{!--/.inner--}}
</div>{{!--/.module.wysiwyg.grey--}}