<div id="facility">
	<div class="module wysiwyg">
		<div class="inner">

			{{!-- CAMPAIGN A --}}
			{{#ifpage 'campaign-a'}}
			<h2>{{facility.male.heading}}</h2>
			<p>{{facility.male.text}}</p>
			{{/ifpage}}
			{{!-- END CAMPAIGN A --}}


			{{!-- CAMPAIGN B --}}
			{{#ifpage 'campaign-b'}}
			<h2>{{facility.female.heading}}</h2>
			<p>{{facility.female.text}}</p>
			{{/ifpage}}
			{{!-- END CAMPAIGN B --}}

		</div>{{!--/.inner--}}
	</div>{{!--/.module.wysiwg--}}
	<div class="module gallery">
	  <div class="inner">
	        <div id="locations-slider" class="locations__slider">
	            {{#each facility.gallery}}
	              <img alt="{{alt}}" src="{{img}}"/>
	            {{/each}}
	        </div>{{!--/.locations__slider--}}
	  </div>{{!--/.inner--}}
	</div>{{!--/.module.gallery--}}
	<div class="module wysiwyg">
		<div class="inner">

			{{!-- CAMPAIGN A --}}
			{{#ifpage 'campaign-a'}}
			<p>{{facility.male.text2}}</p>
			{{/ifpage}}
			{{!-- END CAMPAIGN A --}}

			{{!-- CAMPAIGN B --}}
			{{#ifpage 'campaign-b'}}
			<p>{{facility.female.text2}}</p>
			{{/ifpage}}
			{{!-- END CAMPAIGN B --}}

			<h4 class="button-cta">
			{{!-- CAMPAIGN A --}}
			{{#ifpage 'campaign-a'}}
			{{site.button.male}}
			{{/ifpage}}
			{{!--END CAMPAIGN A --}}

			{{!-- CAMPAIGN B --}}
			{{#ifpage 'campaign-b'}}
			{{site.button.female}}
			{{/ifpage}}
			{{!--END CAMPAIGN B --}}
			</h4>

			<a class="button {{#ifpage 'campaign-b'}}secondary{{/ifpage}}" href="tel:{{site.phone}}" onClick="fbq('track', 'Lead', {
    content_name: 'FRN Facebook Ad Landing Page', 
    content_category: 'Landing Pages',
    content_type: 'Phone Clicks'
  });       " data-ga-event data-ga-category="Phone Numbers" data-ga-action="Phone Clicks" data-ga-label="Phone Clicks Facility">{{site.phone}}</a>
		</div>{{!--/.inner--}}
</div>{{!--/.facility--}}

