{{!-- STEP ONE --}}
<div id="what-to-expect" class="module wysiwyg grey">
	<div class="inner">

		{{!-- CAMPAIGN A --}}
		{{#ifpage 'campaign-a'}}
		<h2>How the Process Works</h2>
		<h3><span>Step One:</span>  Give Us A Call</h3>
		<p>{{whattoexpect.male.stepone}}</p>
		{{/ifpage}}
		{{!-- END CAMPAIGN A --}}

		{{!-- CAMPAIGN B --}}
		{{#ifpage 'campaign-b'}}
		<h2>How the Process Works</h2>
		<h3><span>Step One:</span>  Give Us A Call</h3>
		<p>{{whattoexpect.female.stepone}}</p>
		{{/ifpage}}
		{{!-- END CAMPAIGN B --}}

	</div>{{!--/.inner--}}
</div>{{!--/.module.wysiwyg.grey--}}
{{!-- END STEP ONE --}}

{{!-- STEP TWO --}}
<div class="module wysiwyg">
	<div class="inner">

		{{!-- CAMPAIGN A --}}
		{{#ifpage 'campaign-a'}}
		<h3><span>Step Two:</span>  Insurance Verification</h3>
		<p>{{whattoexpect.male.steptwo}}</p>
		{{/ifpage}}
		{{!-- END CAMPAIGN A --}}

		{{!-- CAMPAIGN B --}}
		{{#ifpage 'campaign-b'}}
		<h3><span>Step Two:</span>  Insurance Verification</h3>
		<p>{{whattoexpect.female.steptwo}}</p>
		{{/ifpage}}
		{{!-- END CAMPAIGN B --}}

	</div>{{!--/.inner--}}
</div>{{!--/.module.wysiwyg.grey--}}
{{!-- END STEP TWO --}}

{{!-- STEP THREE --}}
<div class="module wysiwyg grey">
	<div class="inner">

		{{!-- CAMPAIGN A --}}
		{{#ifpage 'campaign-a'}}
		<h3><span>Step Three:</span>  Personalized Consultation</h3>
		<p>{{whattoexpect.male.stepthree}}</p>
		{{/ifpage}}
		{{!-- END CAMPAIGN A --}}

		{{!-- CAMPAIGN B --}}
		{{#ifpage 'campaign-b'}}
		<h3><span>Step Three:</span>  Personalized Consultation</h3>
		<p>{{whattoexpect.female.stepthree}}</p>
		{{/ifpage}}
		{{!-- END CAMPAIGN B --}}

	</div>{{!--/.inner--}}
</div>{{!--/.module.wysiwyg.grey--}}
{{!-- END STEP THREE --}}