{{!-- CAMPAIGN A --}}
{{#ifpage 'campaign-a'}}
<div id="cta" class="module billboard cta" style="background-image: url(assets/img/{{calltoaction.male.img}});">
  <div class="inner">
    <div class="cell card-section">
      <h1>{{calltoaction.male.text}}</h1>
      <a class="button {{#ifpage 'campaign-b'}}secondary{{/ifpage}}" href="tel:{{site.phone}}" onClick="fbq('track', 'Lead', {
    content_name: 'FRN Facebook Ad Landing Page', 
    content_category: 'Landing Pages',
    content_type: 'Phone Clicks'
  });       " data-ga-event data-ga-category="Phone Numbers" data-ga-action="Phone Clicks" data-ga-label="Phone Clicks CTA">{{site.phone}}</a>
    </div>{{!--/.cell.card-section--}}
</div>{{!--/.inner--}}
</div>{{!--/.module.billboard--}}
{{/ifpage}}
{{!-- END CAMPAIGN A --}}

{{!-- CAMPAIGN B --}}
{{#ifpage 'campaign-b'}}
<div id="cta" class="module billboard cta" style="background-image: url(assets/img/{{calltoaction.female.img}});">
  <div class="inner secondary">
    <div class="cell card-section">
      <h1>{{calltoaction.female.text}}</h1>
      <a class="button secondary" href="tel:{{site.phone}}" onClick="fbq('track', 'Lead', {
    content_name: 'FRN Facebook Ad Landing Page', 
    content_category: 'Landing Pages',
    content_type: 'Phone Clicks'
  });       " data-ga-event data-ga-category="Phone Numbers" data-ga-action="Phone Clicks" data-ga-label="Phone Clicks CTA">{{site.phone}}</a>
    </div>{{!--/.cell.card-section--}}
</div>{{!--/.inner--}}
</div>{{!--/.module.billboard--}}
{{/ifpage}}
{{!-- END CAMPAIGN B --}}