<div class="footer">
	<div class="inner">
		<p><a href="https://www.foundationsrecoverynetwork.com/wp-content/plugins/frn_plugins/privacy-policy.pdf">Privacy Policy</a></p>
	</div>{{!--/.inner--}}
</div>{{!--/.footer--}}